.search {
  position: absolute;
  left: 20px;
  top: -5px;
  z-index: 1;
  transform: translate(100px, -100%);
  width: 100%;

  input {
    width: 50%;
  }

  .bi-search {
    position: absolute;
    transform: translateX(-200%);
  }
}

virtual-scroller {
  width: 50vw;
  height: 80vh;
}

.book {
  display: block;
  width: 100%;
  height: 40px;
}

.list-group-item {
  position: relative;
  display: flex;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    width: 40vw;
    max-width: 40vw;
    height: 40px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &:not(.active) {
    &:hover {
      background-color: cornflowerblue;
      color: #ffffff;
    }
  }

  &:hover {
    cursor: pointer;

    .controls {
      opacity: 1;
    }
  }
}

.controls {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  display: flex;
  align-items: center;
  z-index: 2;

  .bi {
    opacity: 0.5;
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    transition: all 0.2s ease-in-out;

    &:hover {
      opacity: 1;
      transition: all 0.1s ease-in-out;
      cursor: pointer;
    }

    &.bi-pencil {
      font-size: 20px;
    }

    &.bi-x {
      font-size: 40px;
      color: red;
    }
  }
}
